.item {
    max-width: 976px;
    height: 218px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.14);
}

.item__img {
    order: 0;
}

.img {    
    width: 148px;
    margin-left: 37px;
    order: 1;
}


.info {
    height: 158px;
    margin-top: 32px;
    margin-left: 45px;
    margin-bottom: 32px;
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 2;
}

.name {
    width: 462px;
}

.name__title {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #15181C;
    word-wrap: normal;
}

.company {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: rgba(14, 14, 14, 0.4);
}

.like {
    height: 36px;
    margin-left: 32px;
    display: flex;
    align-items: center;
    margin-right: 32px;
    order: 1;
}



.like__icon {
    margin-right: 19px;
    padding: 0;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.like__icon:hover svg path {
    fill-opacity: 1;
    fill: red;
}

.like__iconPathActive {
    fill-opacity: 1;
    fill: red;
}

.basket__icon {
    padding: 0;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.basket__icon:hover svg path {
    fill: black;
    fill-opacity: 1;
}

.like__icon,
.basket__icon {
    cursor: pointer;
}

.like__iconPath:hover {
    fill-opacity: 1;
    fill: red;
}

.counter {
    width: 122px;
    height: 36px;
    right: 0px;
    top: 28px;
    border: 1px solid #EAEAEA;
    border-radius: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 2;
}

.counter span {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #15181C;
    font-weight: bold;
}

.minus {
    margin-left: 19px;
    cursor: pointer;
    padding: 17px 0 17px 0;
}

.plus {
    margin-right: 19px;
    cursor: pointer;
    padding: 17px 0 17px 0;
}

.params {
    display: flex;
    order: 3;
    
}

.step,
.diametr,
.tool {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.step h5,
.diametr h5,
.tool h5 {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #15181C;
}

.step span,
.diametr span,
.tool span {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: rgba(14, 14, 14, 0.4);
}

.step {
    margin-right: 40px;
}

.diametr {
    margin-right: 40px;
}

.quantity {
    margin-left: 216px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    order: 4;
}

.quantity__title {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.quantity__titleTwo {
    margin-top: 13px ;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.quantity__title h5 {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #15181C;
}

.quantity__title span {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: rgba(14, 14, 14, 0.4);
    display: flex;
}

.quantity__titleTwo h5 {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #15181C;
}

.quantity__titleTwo span {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: rgba(14, 14, 14, 0.4);
    display: flex;
}

.quantity__title span img {
    cursor: pointer;
    margin-left: 5px;
}

.clearBasket {
    width: 100%;
    text-align: center;
}

/* ======================================================================== */

@media screen and (max-width: 970px) {
    .quantity {
        flex-direction: row;
        align-items: baseline;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin-left: 24px;
        margin-right: 24px;
    }

    .item {
        height: 100%;
    }

    .info {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .name {
        max-width: 395px;
    }

    .name__title {
        font-size: 20px;
        line-height: 26px;
    }

    .like {
        margin-left: 0px;
        margin-right: 0px;
    }

    .params {
        width: 168px;
        flex-wrap: wrap;
        order: 2;
    }

    .step,
    .diametr {
        margin-right: 0px;
    }

    .counter {
        order: 3;
    }

    .quantity {
        margin-left: 273px;
        margin-top: -63px;
    }

}

@media screen and (max-width: 375px) {
    .container {
        margin-left: 16px;
        margin-right: 16px;
    }

    .item {
        height: 516px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .item__img {
        order: 1;
    }

    .img {
        order: 0;
        margin-left: 0px;
    }

    .info {
        margin-top: 0px;
        margin-left: 0px;
    }

    .name {
        width: 312px;
    }

    .like {
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .counter {
        order: 0;
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .quantity {
        margin-left: 0px;
        margin-top: 10px;
    }

    .checkbox {
        margin-right: 0px;
    }

    .params {
        flex-wrap: nowrap;
        width: 100%;
        
    }

    .tool {
        margin-left: 16px;
    }

    .diametr {
        margin-left: 32px;
    }

    .quantity__title {
        align-items: flex-start;
    }

    .quantity__titleTwo {
        margin-left: 16px;
        align-items: flex-start;
    }
}
