.container {
    max-width: 976px;
    margin: 0 auto;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.text {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #15181C;
    margin-top: 24px;
    margin-bottom: 40px;
}

.text__count {
    color: rgba(0, 0, 0, 0.2);
}

.choice {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    
}

label {
    margin-right: 10px;
    margin-left: 2px ;
}

label input {
    display: none;
  }

label span {
    height: 15px;
    width: 15px;
    display: inline-block;
    position: relative;
    background-color:#FF6A2A;
    border-radius: 4px;
    padding: 3px;
  }

[type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 15px;
    color:white;
  }

  .choiceAll {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #15181C;
    margin-right: 35px;
  }

  .img {
    margin-right: 11px;
    cursor: pointer;
  }

  .deleteChoice {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #15181C;
    cursor: pointer;
  }